In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

In [2]:
# BOT format
filepath = "data-raw/EC_EI_020_ENG_ALL.CSV"

df = pd.read_csv(filepath, index_col=0, encoding='utf-8')
df

,1/1/2000,1/2/2000,1/3/2000,1/4/2000,1/5/2000,1/6/2000,1/7/2000,1/8/2000,1/9/2000,1/10/2000,...,1/7/2023,1/8/2023,1/9/2023,1/10/2023,1/11/2023,1/12/2023,1/1/2024,1/2/2024,1/3/2024,1/4/2024
Exports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Export price,63.27,63.97,63.97,63.66,63.27,62.72,62.65,62.02,61.25,60.86,...,108.83,109.39,109.70,109.57,109.41,109.48,109.84,110.04,110.33,110.64
Export value,27.65,28.20,29.65,27.08,27.25,28.67,31.59,32.00,31.27,32.45,...,116.17,122.26,132.68,123.04,121.76,117.97,116.03,121.43,129.37,119.88
Export volume,43.71,44.08,46.35,42.54,43.07,45.72,50.43,51.60,51.05,53.33,...,106.75,111.77,120.95,112.29,111.29,107.75,105.63,110.35,117.26,108.35
Imports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Import price,57.35,57.12,57.57,57.65,57.50,57.80,57.95,57.95,58.10,58.18,...,111.26,112.00,113.52,113.23,112.05,111.12,110.95,110.84,111.86,113.55
Import value,19.23,26.28,22.35,22.36,22.11,25.75,25.39,27.58,25.33,27.99,...,114.31,115.82,112.59,116.39,122.61,105.62,121.84,112.29,124.25,118.51
Import volume,33.53,46.00,38.82,38.79,38.45,44.56,43.81,47.59,43.60,48.12,...,102.74,103.42,99.18,102.79,109.43,95.05,109.82,101.31,111.08,104.36
Terms of trade,110.32,111.99,111.11,110.42,110.04,108.52,108.10,107.03,105.41,104.61,...,97.81,97.67,96.63,96.77,97.64,98.52,99.00,99.28,98.64,97.44

In [3]:
# columns datetime
# df.columns = df.columns.str[:-2]  # remove r(revised), p(preliminary)
# df.columns = pd.to_datetime(df.columns, format="%b %Y", errors="coerce")
df.columns = pd.to_datetime(df.columns, dayfirst=True, errors="coerce")
df.columns = df.columns + pd.offsets.MonthEnd()

# index features
df.index = df.index.str.strip()
df

,2000-01-31,2000-02-29,2000-03-31,2000-04-30,2000-05-31,2000-06-30,2000-07-31,2000-08-31,2000-09-30,2000-10-31,...,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30,2023-12-31,2024-01-31,2024-02-29,2024-03-31,2024-04-30
Exports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Export price,63.27,63.97,63.97,63.66,63.27,62.72,62.65,62.02,61.25,60.86,...,108.83,109.39,109.70,109.57,109.41,109.48,109.84,110.04,110.33,110.64
Export value,27.65,28.20,29.65,27.08,27.25,28.67,31.59,32.00,31.27,32.45,...,116.17,122.26,132.68,123.04,121.76,117.97,116.03,121.43,129.37,119.88
Export volume,43.71,44.08,46.35,42.54,43.07,45.72,50.43,51.60,51.05,53.33,...,106.75,111.77,120.95,112.29,111.29,107.75,105.63,110.35,117.26,108.35
Imports,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Import price,57.35,57.12,57.57,57.65,57.50,57.80,57.95,57.95,58.10,58.18,...,111.26,112.00,113.52,113.23,112.05,111.12,110.95,110.84,111.86,113.55
Import value,19.23,26.28,22.35,22.36,22.11,25.75,25.39,27.58,25.33,27.99,...,114.31,115.82,112.59,116.39,122.61,105.62,121.84,112.29,124.25,118.51
Import volume,33.53,46.00,38.82,38.79,38.45,44.56,43.81,47.59,43.60,48.12,...,102.74,103.42,99.18,102.79,109.43,95.05,109.82,101.31,111.08,104.36
Terms of trade,110.32,111.99,111.11,110.42,110.04,108.52,108.10,107.03,105.41,104.61,...,97.81,97.67,96.63,96.77,97.64,98.52,99.00,99.28,98.64,97.44

In [4]:
# Features Selection

# features = []
# df = df[df.index.isin(features)]

df = df.drop(['Exports', 'Imports'], axis=0)

df = df.transpose()
df.index.name = "date"

df

,Export price,Export value,Export volume,Import price,Import value,Import volume,Terms of trade
date,,,,,,,
2000-01-31,63.27,27.65,43.71,57.35,19.23,33.53,110.32
2000-02-29,63.97,28.20,44.08,57.12,26.28,46.00,111.99
2000-03-31,63.97,29.65,46.35,57.57,22.35,38.82,111.11
2000-04-30,63.66,27.08,42.54,57.65,22.36,38.79,110.42
2000-05-31,63.27,27.25,43.07,57.50,22.11,38.45,110.04
...,...,...,...,...,...,...,...
2023-12-31,109.48,117.97,107.75,111.12,105.62,95.05,98.52
2024-01-31,109.84,116.03,105.63,110.95,121.84,109.82,99.00
2024-02-29,110.04,121.43,110.35,110.84,112.29,101.31,99.28
2024-03-31,110.33,129.37,117.26,111.86,124.25,111.08,98.64
2024-04-30,110.64,119.88,108.35,113.55,118.51,104.36,97.44

In [5]:
# Save to Local
filename = 'Ex-Im Trade (USD)'

df.to_csv('data-prep/' + filename + '.csv',encoding='utf-8')